.App {
    text-align: center;
}

.fashion-table {
    margin: 10pt;
    border: 2px solid #666;
}

.fashion-table-header {
    background-color: #9cf;
    display: flex;
    border-bottom: 2px solid #999;
}

.fashion-table-column {
    flex: 1;
    padding: 4pt;
    border-right: 1px solid #8be;
    display: flex;
}

.fashion-table-column:last-child {
    border-right: none;
}

.fashion-table-column .drag {
    width: 20pt;
    background-color: #999;
    cursor: move;
    user-select: none;
}

.fashion-table-column .title {
    flex: 2;
}

.fashion-table-column .sorting {
    flex: 1;
}

.fashion-table-column .grouping {
    flex: 1;
    margin-left: 6pt;
}

.fashion-table-column a {
    text-decoration: underline;
}

.fashion-table-body {
    background-color: #efefef;
}

.fashion-table-row {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.fashion-table-row:last-child {
    border-bottom: none;
}

.fashion-table-cell {
    flex: 1;
    padding: 4pt;
    border-right: 1px solid #ddd;
}

.fashion-table-cell:last-child {
    border-right: none;
}
